/* You can add global styles to this file, and also import other style files */

@import url('~@arcgis/core/assets/esri/themes/light/main.css'); 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button[mat-icon-button][hover] {
    display: none;
}

.mat-list.mat-list-base {
    padding-top: 0;
}

mat-list-item:hover button[mat-icon-button][hover] {
    display: block;
}

mat-list-item button[mat-icon-button]:hover {
    color: #3f51b5;  
}

mat-form-field  {
    width: 100%
}

.mat-form-field-wrapper {
    padding-bottom: 0;
}